userPreferences*
.DS_Store
formAttributes.json
methodAttributes.json
settings.4DSettings
Data
DerivedData
data.ExternalData
backupHistory.json
*.journal
*.4BK
Cache
WritePro_Images/V15/Preferences/Backup/Backup.xml
WritePro_Images/V20/Project/Sources/folders.json
WritePro_Images/V20/Project/Sources/menus.json
*.4DD
*.Match
DropDocs_4D/DropDocs_4D.4DIndx
DropDocs_4D/DropDocs_4D.ExternalData/Table 1/Field 4/Data_81D6E94475A23A4E898B195560327366.blob
DropDocs_4D/DropDocs_4D.ExternalData/Table 1/Field 4/Data_9E3E8BF260DF414B89C4E43957D1A72B.blob
DropDocs_4D/DropDocs_4D.ExternalData/Table 1/Field 4/Data_DEE7B19B7D9E8A40B9976CF0869E3B22.blob
WritePro_4D/WritePro_4D.4DIndx
Xml_4D/Xml_4D.4DD
WriteProTableaux_4D/WriteProTableaux_4D.4DIndx
WriteProTableaux_4D/Project/Trash/** 
/Divers_4D/Project/Trash
